In [1]:
import pandas as pd

In [4]:

files = [
    "C:/Users/JesseOnu/Downloads/DatasetsDataAnalystProjects/data_2023-24_player_idlist.csv_20250909_012700",
    "C:/Users/JesseOnu/Downloads/DatasetsDataAnalystProjects/data_2025-26_player_idlist.csv_20250909_012701",
    "C:/Users/JesseOnu/Downloads/DatasetsDataAnalystProjects/data_2024-25_player_idlist.csv_20250909_012701"
]

# 2. Load each into a DataFrame
dfs = [pd.read_csv(f) for f in files]

# 3. Concatenate into one DataFrame
df = pd.concat(dfs, ignore_index=True)

# 4. Create FullName column
df["FullName"] = df["first_name"] + " " + df["second_name"]

# 5. Remove duplicates by FullName
df = df.drop_duplicates(subset=["FullName"])

# 6. Drop old ID column
df = df.drop(columns=["id"], errors="ignore")

# 7. Create new unique ID
df["PlayerID"] = df["FullName"].astype("category").cat.codes

# Save
#df.to_csv("players_master.csv", index=False)

In [23]:
len(df['FullName'])

1412

In [15]:
df.to_csv( "C:/Users/JesseOnu/Downloads/Datasets/DataAnalystProjects/Football_FPL_Project/Playerid", index=False)

In [20]:
df1 = dfs[0]
df1["FullName"] = df1["first_name"] + " " + df1["second_name"]

df2 = dfs[1]
df2["FullName"] = df2["first_name"] + " " + df2["second_name"]

df3 = dfs[2]
df3["FullName"] = df3["first_name"] + " " + df3["second_name"]

In [21]:
df1.head()

  first_name           second_name  id                      FullName
0    Folarin               Balogun   1               Folarin Balogun
1     Cédric          Alves Soares   2           Cédric Alves Soares
2    Mohamed                Elneny   3                Mohamed Elneny
3      Fábio       Ferreira Vieira   4         Fábio Ferreira Vieira
4    Gabriel  dos Santos Magalhães   5  Gabriel dos Santos Magalhães