In [1]:
import pandas as pd
import os

# Read both files
merged_df = pd.read_csv(r"C:\Users\JesseOnu\Downloads\Datasets\DataAnalystProjects\Football_FPL_Project\updatedmerged123456.csv")

#gw4 = pd.read_csv(r"C:\Users\JesseOnu\Downloads\gw4.csv")
#gw5 = pd.read_csv(r"C:\Users\JesseOnu\Downloads\gw5.csv")
gw = pd.read_csv(r"C:\Users\JesseOnu\python projects\data\gw11.csv")
gw['value'] = gw['value'] * 10

folderpath = r"C:\Users\JesseOnu\Downloads\Datasets\DataAnalystProjects\Football_FPL_Project\updatedmerged1234567"
output = f"{folderpath}.csv"


# Combine and overwrite
combined_df = pd.concat([merged_df, gw], ignore_index=True)

In [2]:
combined_df.to_csv(output, index=False)

In [3]:
len(combined_df)

10170

In [12]:
combined_df.columns

Index(['name', 'position', 'team', 'xP', 'assists', 'bonus', 'bps',
       'clean_sheets', 'clearances_blocks_interceptions', 'creativity',
       'defensive_contribution', 'element', 'expected_assists',
       'expected_goal_involvements', 'expected_goals',
       'expected_goals_conceded', 'fixture', 'goals_conceded', 'goals_scored',
       'ict_index', 'influence', 'kickoff_time', 'minutes', 'modified',
       'opponent_team', 'own_goals', 'penalties_missed', 'penalties_saved',
       'recoveries', 'red_cards', 'round', 'saves', 'selected', 'starts',
       'tackles', 'team_a_score', 'team_h_score', 'threat', 'total_points',
       'transfers_balance', 'transfers_in', 'transfers_out', 'value',
       'was_home', 'yellow_cards', 'GameWeek', 'expected_assist'],
      dtype='object')

In [8]:
combined_df.head()

,name,position,team,xP,assists,bonus,bps,clean_sheets,clearances_blocks_interceptions,creativity,...,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GameWeek,expected_assist
0,Elliot Anderson,MID,Nott'm Forest,2.0,1,1,24,0,1,21.3,...,20.0,6,0,0,0,55.0,True,0,1.0,NaN
1,James Tarkowski,DEF,Everton,3.8,0,0,7,0,13,2.1,...,7.0,4,0,0,0,55.0,False,0,1.0,NaN
2,Ollie Watkins,FWD,Aston Villa,2.3,0,0,12,1,2,12.2,...,27.0,2,0,0,0,90.0,True,0,1.0,NaN
3,Iliman Ndiaye,MID,Everton,2.7,0,0,11,0,1,12.1,...,2.0,2,0,0,0,65.0,False,0,1.0,NaN
4,Charalampos Kostoulas,FWD,Brighton,1.4,0,0,0,0,0,0.0,...,0.0,0,0,0,0,50.0,True,0,1.0,NaN

In [20]:
gw7.head()

,name,position,team,xP,assists,bonus,bps,clean_sheets,clearances_blocks_interceptions,creativity,...,team_a_score,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards
0,David Raya Martín,GK,Arsenal,0,0,0,20,1,0,0.0,...,0,2,0.0,6,26733,41537,14804,5.7,True,0
1,Kepa Arrizabalaga Revuelta,GK,Arsenal,0,0,0,0,0,0,0.0,...,0,2,0.0,0,-796,91,887,4.3,True,0
2,Karl Hein,GK,Arsenal,0,0,0,0,0,0,0.0,...,0,2,0.0,0,-600,0,600,4.0,True,0
3,Tommy Setford,GK,Arsenal,0,0,0,0,0,0,0.0,...,0,2,0.0,0,-220,222,442,4.0,True,0
4,Gabriel dos Santos Magalhães,DEF,Arsenal,0,0,1,33,1,10,2.0,...,0,2,2.0,9,154380,158649,4269,6.3,True,0

In [33]:
gw7['value'].unique()

array([ 57.,  43.,  40.,  63.,  60.,  58.,  59.,  54.,  52.,  49.,  39.,
       100.,  79.,  69.,  66.,  53.,  55.,  48.,  45.,  73.,  64.,  50.,
        44.,  46.,  68.,  51.,  86.,  70.,  80.,  74.,  61.,  47., 103.,
        67.,  65.,  62.,  75.,  56.,  76.,  41., 144.,  81.,  83., 146.,
        89., 106.,  85.,  72.,  78.,  87.,  90.])